.edit-post-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.post-edit-form {
    max-width: 60rem;
}

.submit-buttons {
    max-width: 60rem;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
}

.margin-span{
    width: 15px;
}

.post-custom {
    width: 60rem;
}