body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;    
}

.user-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-email ul {
    margin-top: 0;
}